*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #e9e2e2;
}
.ion-android-menu{
  font-size: 2em;

}
aside {
  height: 50%;
  width: 25%;
  left: 0%;
  background: #fff;
  position: absolute;
  margin-top: 50px;
}
.slide-enter-active, .slide-leave-active {
  transition: all .3s cubic-bezier(.65,.05,.36,1);
}
.slide-enter, .slide-leave-to {
  left: -100%;
}
.menu {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

header{
  height: 50px;
  position: absolute;
  top: 0;
  width: 100%;
  background: #9E9E9E;
}
ul {
  background: #fff;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    height: 300px;
    padding: 0;
    margin: 20% auto;
    position: relative;
    align-content: stretch;
    border-radius: 5px;
  }
li {
  list-style: none;
  display: block;
  width: 100%;
  height: 100px;
  line-height: 100px;
  font-family: sans-serif;
  padding-left: 10%;
  color: rgba(0, 0, 0, 0.77);
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
  position: relative;
}
